body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  height: min-content;
  gap: 50px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button-css {
  background-color: rgb(86, 147, 245);
  width: 100px;
  height: 50px;
  justify-content: center;
  border-radius: 10px;
  border: none;
  color: white;
  transition: background-color ease-in 1s, width ease-out 0.5s, height ease-in 0.5s,
    box-shadow ease-in 0.1s;
}

.button-css:hover {
  background-color: rgb(64, 110, 183);
  height: 60px;
  width: 120px;
  box-shadow: 0 5px 5px 0 rgb(0, 0, 0, 0.5);
}

.button-css:active {
  background-color: rgb(25, 38, 59);
  height: 40px;
  width: 80px;
}

.nav-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.nav-menu li {
  display: flex;
  position: relative;
  height: 40px;
  width: 120px;
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
}
.nav-menu li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: black;
  transition: all 0.7s ease-in-out;
}

.nav-menu li:hover::after {
  width: 100%;
}
.nav-menu li:nth-child(1):hover {
  color: rgb(125, 214, 214);
  transition: color ease-in 0.2s;
}
.nav-menu li:nth-child(2):hover {
  color: rgb(131, 214, 125);
  transition: color ease-in 0.2s;
}
.nav-menu li:nth-child(3):hover {
  color: rgb(214, 199, 125);
  transition: color ease-in 0.2s;
}
.nav-menu li:nth-child(4):hover {
  color: rgb(214, 125, 125);
  transition: color ease-in 0.2s;
}

.multi-property-card {
  width: 250px;
  padding: 20px;
  height: min-content;
  background-color: #474747;
  color: white;
  border-radius: 0px;
  border: 2px solid rgb(218, 209, 112);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
  transition: background-color ease-out 0.5s, box-shadow ease-out 0.5s, border-radius ease-out 0.5s;
}
.multi-property-card:hover {
  background-color: #a5b659;
  border-radius: 8px;
  box-shadow: 0 5px 6px 0px rgba(0, 0, 0, 0.5);
  transition: background-color 1s ease-in, border-radius 0.8s ease-in, box-shadow 0.4s ease-out;
}

.box {
  width: 100px;
  height: 50px;
  background-color: #3498db;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
  transition: left 2s;
}
.timing-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.left {
  margin: 0px;
  justify-content: flex-start;
}
.timing-container:hover .box {
  left: calc(100% - 500px);
}
.linear {
  transition-timing-function: linear;
}
.ease-in {
  transition-timing-function: ease-in;
}
.ease-out {
  transition-timing-function: ease-out;
}
.cubic {
  transition-timing-function: cubic-bezier(0.7, -0.5, 0.7, 1.5);
}
